.flexhome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.free-session-mobile{
    display: none;

}
.header-text-desktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.header-text-mobile{
    display: none;
}
.free-session{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 1%;
}

.free-session-desktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 2%;
    padding-top: 5%;
}

.main-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}
.logo-min{
    display: none;
}
.home-min{
    display: none;
}
.header-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    width: 40%;
}
.button-home{
    display: flex;
    flex-direction: row;
 justify-content: center;
    align-items: center;
 margin-right: 5%;
    width: 100%
 

   
}
.home-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    width: 65vw;
    
}

.logo-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    width: 25vw;
}
a{
    text-decoration: none;
    color: black;
}
.button-about-us, .button-get-in{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    width: 100%

}
.free-session-btn{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    width: 75%;
}
.footer-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F2F2F2;
    padding-top: 1%;
    padding-bottom: 1%;

}
@media screen and (max-width:600px) {
    .main-home{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 95vh;
        width: 100%;
    }
    .header-home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .button-home{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 20%;
    }
    .home-min{
        display: flex;
        flex-direction: column;
        justify-content: center;
       padding-top: 10%;
       margin-left: -8%;
        margin-bottom: 10%;
        align-items: center;
        width: 100vw;
     
    }
    .logo-min{
        display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    }

    .logo-home{
        display: none;
    }
    .home-img{
        display: none;
    }

    .free-session-mobile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

       
    }

    .free-session-desktop{
        display: none;
    }
    .header-text-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .header-text-desktop{
        display: none;
    }
}