.my-element{
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    padding-top: 10%;
}

.flexabout{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    padding: 0 10%;
    height: 100vh;
    background-color: #fff;
}

.navbar-mobile{
    display: none;
}

@media screen and (max-width: 600px) {

    .navbar-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        height: 10vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;

      
    }
.my-element{
    padding-top: 30%;
}
    .navbar-desktop{
        display: none;

    }
    
}