.my-element{
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    padding-top: 10%;
}

.flexabout{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    padding: 0 10%;
    height: 100vh;
    background-color: #fff;
}

