.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 200px;
    border-radius: 5px;
    

}

@media screen and (max-width:600px) {
    .btn-submit{
        width: 100px;
    }
.form-control{
    width: 65vw;
}

.container-fluid{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}


    
}