.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 200px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    padding: 0.5rem 1rem;

}


.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    font-size: 2rem;
    font-weight: bold;
    color: #0f0f0f;


}
.form-label{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #0f0f0f;

}

.container-fluid{
    display: flex;
 flex-direction: column;
 width: 50vw;
    height: 100vh;
 margin: 0 auto;
    
}

@media screen and (max-width:600px) {
    .container-fluid{
        width: 65vw;
        height: auto;
       
    }
    .btn-submit{
        width: 15vw;
        font-size: 0.5rem;
    }
.form-control{
    width: 65vw;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #0f0f0f;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);

}



.form-label{
    display: block;
    margin-top: 0.2rem;
    margin-bottom: -0.5rem;
    font-size: 0.5rem;
   
}
.contact-us{
    font-size: 1rem;
    margin-top: 15%;
}

}