.navBar {
  display: flex;
  justify-content: flex-end;
  background-color: #1a1a1a;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

}

.navBar a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}



.fa-home, .fa-about, .fa-contact, .fa-services  {
  font-size: 1rem;
}

.fa-home:hover, .fa-about:hover, .fa-contact:hover, .fa-services:hover {
  color:gold;
}

@media screen and (min-width: 768px) {
 

  .navBar a {
    margin-left: 2rem;
  }

 
  
}